body {
	background-color: #EEE;
	display: flex-wrap;
 	justify-content: center;
 	align-items: center;
}

input {
	border: none;
 	outline: none;
 	background: none;
 	padding: 16px;
 	border-radius: 16px;
 	display: block;
 	width: 100%;
 	max-width: 320px;
 	margin: 0 auto 16px;
 	box-shadow:
   		inset -4px -4px 10px 4px #FFF,
   		inset 4px 4px 10px 4px #C4C4C4;
 	color: #AAA;
 	font-size: 18px;
 	transition: 0.2s ease-out;
 	margin-top: 4vh;
}

input:focus{
	box-shadow:
   		inset -1px -1px 3px 1px #FFF,
   		inset 1px 1px 3px 1px #C4C4C4;
}

button {
	margin-left: 55%;
	border-radius: 16px;
	color: #AABBBB;
 	border: 3px solid transparent;
 	padding: 13px;
 	font-weight: 700;
 	box-shadow: 
  		-4px -4px 13px 4px #FFF,
  		4px 4px 13px 4px #C4C4C4;
  	outline: none;
}


button:focus{
	box-shadow: 
  		-4px -4px 13px 4px #FFF,
  		4px 4px 13px 4px #C4C4C4;
}

button:hover {
	box-shadow:
  		-3px -3px 8px 3px #FFF,
  		3px 3px 8px 3px #C4C4C4;
}

button:active{
	color: black;
 	box-shadow: 
  		-4px -4px 13px 4px #C4C4C4,
  		4px 4px 13px 4px #FFF;
 	border-color: #DFDFDF;
}

.resultats{
	margin-top: 15vh;
	margin-left: 15%;
	color: grey;
	font-family: sans-serif;
}

h1{
	text-align: center;
	color: grey;
	font-family: sans-serif;
}